
body {
	font-size: 100%;
}

/*There are some issues with the content not sizing the way I want it to size*/
/*I need to look into that..*/

.watch {
	height: 200px;
	background-color: #66ccff;
	font-size: 4em;
}


